.item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.inner-carousel {
  left: 30px;
  margin: auto;
  width: 85vw;
  height: 90vh;
  aspect-ratio: calc(16 / 10);
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  color: white;
}

button {
  padding: 16px;
  font-size: 18px;
  width: 64px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  color: black;
}

.prevButton {
  position: absolute;
  top: 51%;
  left: -30px;
  transform: translateX(-60%);
}

.nextButton {
  position: relative;
  height: 13%;
  top: 50%;
  right: 30px;
  transform: translateX(50%);
}
